[Unit]
Description=Cam service (rpicam-vid)
Requires=streamcam.socket
After=streamcam.socket

Wants=streamcam-cvlc.service

[Service]
TimeoutStartSec=infinity

Sockets=streamcam.socket

StandardInput=null
StandardOutput=fd:streamcam.socket
StandardError=journal
User=streamcam
ExecStart=/usr/bin/rpicam-vid -t 0 -v 0 --inline -o -

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
